<!DOCTYPE html>
<html lang-"en">
  <head> 
    <meta charset="UTF-8">
    <meta name="viewport" content-"width=device-width, initial-scale-1.0">
    <title>Document</title>
</head> 
<body>
  <h1> Contact Us </h1>
  <form action = "{{url_for('contactus')}}" method="POST">
    <input type="email" name="email" placeholder="Email" required id=""/> 
    <input type="text" name="subject" placeholder="subject" required id=""/>
    <textarea name="message" id="" cols="30" placeholder="Message Body" required rows = "10"></textarea>
    <input type="submit" value="Send Message"> 
  </form> 
</body> 
</html>
