{% extends 'layout.html' %}

{% block content %}
  <h2>Home Page</h2>
  <p>Welcome back, {{ username }}!</p>
  <link href="https://fonts.googleapis.com/css?family=Cabin|Indie+Flower|Inknut+Antiqua|Lora|Ravi+Prakash" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  <link rel="stylesheet" href="{{ url_for('static', filename = 'style1.css') }}" />

  <div class="container">
    <h1 class="upcomming">upcoming movies and shows</h1>
    <div class="item">
      <div class="item-right">
        <h2 class="num">23</h2>
        <p class="day">Oct</p>
        <span class="up-border"></span>
        <span class="down-border"></span>
      </div> <!-- end item-right -->

      <div class="item-left">
        <p class="event">Music Event</p>
        <h2 class="title">Live In Mumbai</h2>

        <div class="sce">
          <div class="icon">
            <i class="fa fa-table"></i>
          </div>
          <p>
            Monday 15th September 2022 <br /> 15:20Pm & 11:00Am
          </p>
        </div>
        <div class="fix"></div>
        <div class="loc">
          <div class="icon">
            <i class="fa fa-map-marker"></i>
          </div>
          <p>
            North,South, India <br /> Party Number 16,20
          </p>
        </div>
        <div class="fix"></div>
        <button class="tickets">Tickets</button>
      </div> <!-- end item-right -->
    </div> <!-- end item -->

    <div class="item">
      <div class="item-right">
        <h2 class="num">23</h2>
        <p class="day">August</p>
        <span class="up-border"></span>
        <span class="down-border"></span>
      </div> <!-- end item-right -->

      <div class="item-left">
        <p class="event">Music Event</p>
        <h2 class="title">Live Been Corrage</h2>

        <div class="sce">
          <div class="icon">
            <i class="fa fa-table"></i>
          </div>
          <p>
            Monday 18th 2022 <br /> 15:20Pm & 11:00Am
          </p>
        </div>
        <div class="fix"></div>
        <div class="loc">
          <div class="icon">
            <i class="fa fa-map-marker"></i>
          </div>
          <p>
            North,South, India <br /> Party Number 16,20
          </p>
        </div>
        <div class="fix"></div>
        <button class="tickets">Tickets</button>
      </div> <!-- end item-right -->
    </div> <!-- end item -->

    <div class="item">
      <div class="item-right">
        <h2 class="num">23</h2>
        <p class="day">September</p>
        <span class="up-border"></span>
        <span class="down-border"></span>
      </div> <!-- end item-right -->

      <div class="item-left">
        <p class="event">Music Kaboom</p>
        <h2 class="title">Music Party</h2>

        <div class="sce">
          <div class="icon">
            <i class="fa fa-table"></i>
          </div>
          <p>
            Monday 25th 2022 <br /> 15:20Pm & 11:00Am
          </p>
        </div>
        <div class="fix"></div>
        <div class="loc">
          <div class="icon">
            <i class="fa fa-map-marker"></i>
          </div>
          <p>
            Hyderabad,India <br /> Party Number 16,20
          </p>
        </div>
        <div class="fix"></div>
        <button class="booked">Booked</button>
      </div> <!-- end item-right -->
    </div> <!-- end item -->

    <div class="item">
      <div class="item-right">
        <h2 class="num">26</h2>
        <p class="day">Nov</p>
        <span class="up-border"></span>
        <span class="down-border"></span>
      </div> <!-- end item-right -->

      <div class="item-left">
        <p class="event">Music Event</p>
        <h2 class="title linethrough">Hello India</h2>

        <div class="sce">
          <div class="icon">
            <i class="fa fa-table"></i>
          </div>
          <p>
            saturday 30th 2022 <br /> 15:20Pm & 11:00Am
          </p>
        </div>
        <div class="fix"></div>
        <div class="loc">
          <div class="icon">
            <i class="fa fa-map-marker"></i>
          </div>
          <p>
            India <br /> Party Number 16,20
          </p>
        </div>
        <div class="fix"></div>
        <button class="cancelled">cancelled</button>
      </div> <!-- end item-right -->
    </div> <!-- end item -->
  </div>
{% endblock %}
