<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
      {% block title %}
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" />
  </head>
  <body class="loggedin">
    <nav class="navtop">
      <div>
        <h1>BookMyShow</h1>
        <a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Home</a>
        <a href="{{ url_for('profile') }}"><i class="fas fa-user-circle"></i>Profile</a>
        <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
        <a href="{{ url_for('contactus') }}"><i class="fas fa-sign-out-alt"></i>contactus</a>
        <a href="{{ url_for('about') }}"><i class="fas fa-sign-out-alt"></i>about</a>
        <a href="{{ url_for('mytickets') }}"><i class="fas fa-sign-out-alt"></i>mytickets</a>
				<a href="{{ url_for('bookmyticket') }}"><i class="fas fa-sign-out-alt"></i>bookmyticket</a>
      </div>
    </nav>
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
