<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>BOOKMYSHOW</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" />
  </head>
  <body>
    <div class="register">
      <h1>BookMyShow</h1>
      <div class="links">
        <a href="{{ url_for('bookmyticket') }}" class="active">BOOKYOURTICKET</a>
      </div>
      <form action="{{ url_for('bookmyticket') }}" method="post" autocomplete="off">
        <label for="name"><i class="fas fa-user"></i></label>
        <input type="text" name="name" placeholder="name" id="name" required />
        <label for="moviename"><i class="fas fa-lock"></i></label>
        <input type="text" name="moviename" placeholder="moviename" id="moviename" required />
        <label for="moviehall"><i class="fas fa-envelope"></i></label>
        <input type="text" name="moviehall" placeholder="moviehall" id="moviehall" required />
        <div class="msg">{{ msg }}</div>
        <input type="submit" value="BOOK" />
      </form>
    </div>
  </body>
</html>
